<%= form_with(model: comment, local: true, class: "row g-3") do |form| %>
  <%= form.hidden_field :commentable_type, value: comment.commentable_type %>
  <%= form.hidden_field :commentable_id, value: comment.commentable_id %>

  <div class="col-auto">
    <%= form.text_field :body, class: "form-control", placeholder: "Type Here..." %>
  </div>
  <div class="col-auto">
    <%= form.submit "Add comment", class: "btn btn-primary mb-3" %>
  </div>
<% end %>