<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% @article.comments.each do |comment| %>
  <p><%= comment.body %> - <%= comment.user&.email %></p>
<% end %>

<%= render 'comments/form', comment: @article.comments.new %>

<% if @article.user == current_user || current_user.admin? %>
  <%= link_to "Edit Article", edit_article_path(@article) %> |
<% end %>

<%= link_to "Home", root_path %>
