<h1>Hello <%= @user.email %></h1>

<h3>Activity Feed</h3>
<ul>
  <% @acitivities.each do |activity| %>
    <% if activity.class.name == "Comment" %>
      <li>Comment created on <%= link_to "#{activity.commentable_type} - #{ activity.commentable.title }", polymorphic_path(activity) %></li>
    <% else %>
      <li>Created <%= link_to "#{activity.type} - #{activity.title || activity.name}", polymorphic_path(activity) %></li>
    <% end %>
  <% end %>
</ul>

<div class="post-wrapper"> 
  <% @posts.each do |post| %>
    <% if post.instance_of?(::Article) %>
      <%= render 'article', article: post %>
    <% elsif post.instance_of?(::Event) %>
      <%= render 'event', event: post %>
    <% end %>
  <% end %>
</div>

<%= link_to "Home", root_path %>
