<div class="container">
  <h1>Hello <%= @user.email %></h1>
  <hr class="my-4">
</div>

<div class="container">
  <p class="h5">Activity Feed</p>

  <ul class="list-group">
    <% @activities.each do |activity| %>
      <% if activity[:type] == "Comment" %>
        <li class="list-group-item">
          Comment created on 
          <%= link_to "#{activity[:commentable_type]} - #{activity[:commentable_id]}", polymorphic_path([activity[:commentable_type].constantize.find(activity[:commentable_id])]) %>
        </li>
      <% else %>
        <li class="list-group-item">
          Created 
          <%= link_to "#{activity[:type]} - #{activity[:title]}", polymorphic_path(activity[:type].constantize.find(activity[:id])) %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <hr class="my-4">
</div>

<div class="container">
  <% @posts.each do |post| %>
    <% if post.instance_of?(::Article) %>
      <%= render 'pages/article', article: post %>
    <% elsif post.instance_of?(::Event) %>
      <%= render 'pages/event', event: post %>
    <% end %>
  <% end %>
</div>
