<h1>Hello <%= @user.email %></h1>

<h3>Activity Feed...</h3>
<% @acitivity.each do |activity| %>
  <% if activity.instance_of?(::Comment) %>
    <p>Created comment on 
      <% if activity.commentable_type == "Article" %>
        <%= link_to "Artical - #{ activity.commentable.title }", article_path(activity.commentable) %>
      <% elsif activity.commentable_type == "Event" %>
        <%= link_to "Event - #{ activity.commentable.title }", event_path(activity.commentable) %>
      <% end %>
    </p>
    <span><%= activity.created_at.strftime("%Y-%m-%d") %></span>
  <% else %>
    <p>Created <%= link_to "#{ activity.class.name } - #{ activity.title }", polymorphic_path(activity) %></p>
    <span><%= activity.created_at.strftime("%Y-%m-%d") %></span>
  <% end %>
<% end %>

<div class="post-wrapper"> 
  <% @posts.each do |post| %>
    <% if post.instance_of?(::Article) %>
      <%= render 'article', article: post %>
    <% elsif post.instance_of?(::Event) %>
      <%= render 'event', event: post %>
    <% end %>
  <% end %>
</div>

<%= link_to "Home", root_path %>
