<%= form_with(model: event, class: "mb-3") do |form| %>
  <div class="mb-3">
    <%= form.label :tite, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
    <% event.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control" %>
    <% event.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :start_date, class: "form-label" %><br>
    <%= form.datetime_select :start_date, class: "form-control" %><br>
    <% event.errors.full_messages_for(:start_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :end_date, class: "form-label" %><br>
    <%= form.datetime_select :end_date, class: "form-control" %><br>
    <% event.errors.full_messages_for(:end_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
