<h3 class="display-6"><%= link_to event.title, event_path(event) %></h3>
<p class="lead"><%= event.body %></p>
<p class="lead">Start: <%= event.start_date.strftime("%d.%m.%Y") %></p>
<p class="lead">End: <%= event.end_date.strftime("%d.%m.%Y") %></p>
<p>Created on: <%= event.created_at.strftime("%d.%m.%Y") %></p>
<hr class="my-4">

<%= render 'likes/form', like: event.likes.new %>
<hr class="my-4">

<p>Comments</p>
<% event.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
  <%= render 'likes/form', like: comment.likes.new %>
  <hr class="my-4">
<% end %>

<%= render 'comments/form', comment: event.comments.new %>
<hr class="my-4">
